In [1]:
import pandas as pd
import csv

In [2]:
jan19 = pd.read_csv("data/jan2019.csv")
feb19 = pd.read_csv("data/feb2019.csv")
mar19 = pd.read_csv("data/mar2019.csv")

In [3]:
jan19 = jan19.rename(columns={'tripduration': 'Trip Duration','starttime':'Start Time','stoptime':'Stop Time','start station id':'Start Station ID','start station name':'Start Station Name','start station latitude':'Start Station Latitude','start station longitude':'Start Station Longitude','end station id':'End Station ID','end station name':'End Station Name','end station latitude':'End Station Latitude','end station longitude':'End Station Longitude','bikeid':'Bike ID','usertype':'User Type','birth year':'Birth Year','gender':'Gender'})
jan19.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
feb19 = feb19.rename(columns={'tripduration': 'Trip Duration','starttime':'Start Time','stoptime':'Stop Time','start station id':'Start Station ID','start station name':'Start Station Name','start station latitude':'Start Station Latitude','start station longitude':'Start Station Longitude','end station id':'End Station ID','end station name':'End Station Name','end station latitude':'End Station Latitude','end station longitude':'End Station Longitude','bikeid':'Bike ID','usertype':'User Type','birth year':'Birth Year','gender':'Gender'})
feb19.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [5]:
mar19 = mar19.rename(columns={'tripduration': 'Trip Duration','starttime':'Start Time','stoptime':'Stop Time','start station id':'Start Station ID','start station name':'Start Station Name','start station latitude':'Start Station Latitude','start station longitude':'Start Station Longitude','end station id':'End Station ID','end station name':'End Station Name','end station latitude':'End Station Latitude','end station longitude':'End Station Longitude','bikeid':'Bike ID','usertype':'User Type','birth year':'Birth Year','gender':'Gender'})
mar19.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [6]:
jan_mar19 = pd.concat([jan19,feb19,mar19])

In [7]:
jan_mar19 =jan_mar19[['Bike ID','User Type','Gender','Birth Year','Start Station ID','Start Station Name', 'Start Station Latitude','Start Station Longitude','End Station ID','End Station Name','End Station Latitude','End Station Longitude','Start Time','Stop Time','Trip Duration']]

In [8]:
jan_mar19.head()

,Bike ID,User Type,Gender,Birth Year,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Start Time,Stop Time,Trip Duration
0,29612,Subscriber,1,1993,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,201
1,29213,Subscriber,2,1972,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,505
2,26164,Subscriber,1,1985,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,756
3,29672,Customer,0,1969,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,1575
4,29522,Customer,0,1969,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,1566

In [9]:
jan_mar19.dtypes

Bike ID                      int64
User Type                   object
Gender                       int64
Birth Year                   int64
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Start Time                  object
Stop Time                   object
Trip Duration                int64
dtype: object

In [10]:
jan_mar19['Gender'] =jan_mar19['Gender'].replace(1,'Male')

In [11]:
jan_mar19['Gender']= jan_mar19['Gender'].replace(2,'Female')

In [12]:
jan_mar19['Gender']=jan_mar19['Gender'].replace(0,'Unknown')

In [13]:
jan_mar19['Gender']

0           Male
1         Female
2           Male
3        Unknown
4        Unknown
5           Male
6           Male
7           Male
8        Unknown
9           Male
10          Male
11          Male
12          Male
13          Male
14          Male
15          Male
16          Male
17          Male
18          Male
19          Male
20        Female
21          Male
22          Male
23          Male
24          Male
25          Male
26          Male
27        Female
28       Unknown
29          Male
          ...
23576     Female
23577       Male
23578       Male
23579     Female
23580       Male
23581     Female
23582       Male
23583       Male
23584       Male
23585       Male
23586       Male
23587       Male
23588     Female
23589       Male
23590       Male
23591       Male
23592       Male
23593       Male
23594       Male
23595       Male
23596     Female
23597       Male
23598       Male
23599       Male
23600       Male
23601       Male
23602     Female
23603       Male
23604       Male
23605     Female
Name: Gender, Length: 61847, dtype: object

In [14]:
jan_mar19.head()

,Bike ID,User Type,Gender,Birth Year,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Start Time,Stop Time,Trip Duration
0,29612,Subscriber,Male,1993,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,201
1,29213,Subscriber,Female,1972,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,505
2,26164,Subscriber,Male,1985,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,756
3,29672,Customer,Unknown,1969,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,1575
4,29522,Customer,Unknown,1969,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,1566

In [16]:
jan_mar19['Trip Duration'].min()

61

In [17]:
jan_mar19['Trip Duration'].max()

571707

In [20]:
jan_mar19['Start Station Name'].value_counts()

Grove St PATH              8221
Sip Ave                    3402
Hamilton Park              3131
Exchange Place             2619
Newport PATH               2515
Harborside                 2311
City Hall                  1707
Marin Light Rail           1695
Newark Ave                 1677
Jersey & 3rd               1572
Brunswick St               1566
Brunswick & 6th            1564
Jersey & 6th St            1515
Van Vorst Park             1448
Journal Square             1351
Columbus Drive             1347
Morris Canal               1341
Newport Pkwy               1317
Monmouth and 6th           1304
Warren St                  1288
Paulus Hook                1224
Manila & 1st               1190
Dixon Mills                1182
Washington St              1065
Liberty Light Rail         1045
Essex Light Rail            985
McGinley Square             977
JC Medical Center           936
Pershing Field              922
Oakland Ave                 893
Grand St                    888
Montgomery St               808
Astor Place                 722
Baldwin at Montgomery       646
York St                     587
Fairmount Ave               509
Bergen Ave                  500
Hilltop                     454
Lincoln Park                415
Leonard Gordon Park         410
Christ Hospital             406
5 Corners Library           394
Glenwood Ave                346
Heights Elevator            341
Lafayette Park              315
Riverview Park              233
Communipaw & Berry Lane     203
Dey St                      149
Union St                    103
Jackson Square               83
JCBS Depot                   25
Name: Start Station Name, dtype: int64

In [21]:
jan_mar19['End Station Name'].value_counts()

Grove St PATH               9246
Hamilton Park               3219
Sip Ave                     3201
Exchange Place              3125
Newport PATH                2466
Harborside                  2346
Newark Ave                  1843
City Hall                   1828
Marin Light Rail            1772
Jersey & 3rd                1476
Newport Pkwy                1409
Brunswick & 6th             1396
Brunswick St                1382
Manila & 1st                1370
Columbus Drive              1354
Paulus Hook                 1346
Van Vorst Park              1280
Monmouth and 6th            1277
Warren St                   1251
Journal Square              1236
Morris Canal                1219
Jersey & 6th St             1201
Liberty Light Rail          1136
Washington St               1135
Dixon Mills                 1071
Essex Light Rail            1040
JC Medical Center            955
Grand St                     894
Pershing Field               834
Montgomery St                809
McGinley Square              780
Astor Place                  744
Oakland Ave                  615
Baldwin at Montgomery        593
York St                      589
Lincoln Park                 503
Bergen Ave                   436
Fairmount Ave                369
Leonard Gordon Park          362
Lafayette Park               340
Dey St                       329
Hilltop                      324
5 Corners Library            312
Heights Elevator             285
Christ Hospital              268
Glenwood Ave                 227
Riverview Park               201
Communipaw & Berry Lane      200
Union St                     132
Jackson Square                76
JCBS Depot                    37
12 Ave & W 40 St               3
Vesey Pl & River Terrace       1
W 38 St & 8 Ave                1
W 15 St & 6 Ave                1
W 20 St & 11 Ave               1
W 56 St & 10 Ave               1
Name: End Station Name, dtype: int64

In [15]:
# jan_mar19.to_csv("data/jan_mar19.csv")